### local config start

# startup programs {{{

exec --no-startup-id i3-msg 'workspace $wsp1; exec termite'
exec --no-startup-id i3-msg 'workspace $wsp2; exec firefox;'
exec --no-startup-id i3-msg 'workspace $wsp5; exec chromium; workspace $wsp1'

# }}}

### local config end
