/*
!/.gitignore
!/.config/
/.config/*
!/.config/fontconfig
!/.config/mpv
!/.config/rofi
!/.config/surfraw
!/.config/termite
!/.spacemacs.d/
/.spacemacs.d/*
!/.spacemacs.d/init.el
!/.spacemacs.d/layers
!/.spacemacs.d/snippets
!/pkgbuilds
/pkgbuilds/*/src
/pkgbuilds/*/pkg
/pkgbuilds/*/*.xz
/pkgbuilds/*/*.zip
