/*
!/.gitignore
!/.config/
/.config/*
!/bin/
!/.config/i3/
!/.config/mpv/scripts
!/.config/rofi
!/.config/surfraw
!/.config/termite
!/.config/windows/
!/.spacemacs.d/
/.spacemacs.d/*
!/.spacemacs.d/init.el
!/.spacemacs.d/layers
!/.spacemacs.d/snippets
!/pkgbuilds
/pkgbuilds/*/src
/pkgbuilds/*/pkg
/pkgbuilds/*/*.xz
/pkgbuilds/*/*.zip
!/.config/archlinux/
!/.config/polybar/
