/*
!/.gitignore
!/bin/
!/.config/
/.config/*
!/.config/i3/
!/.config/mpv/scripts
!/.config/rofi
!/.config/surfraw
!/.config/termite
!/.config/windows/
!/.config/archlinux/
!/.config/polybar/
!/.spacemacs.d/
/.spacemacs.d/*
!/.spacemacs.d/init.el
!/.spacemacs.d/layers
!/.spacemacs.d/snippets
!/pkgbuilds
/pkgbuilds/*/src
/pkgbuilds/*/pkg
/pkgbuilds/*/*.xz
/pkgbuilds/*/*.zip

!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/applications/
