workspace.1.name:    1:terminal
workspace.1.icon:    1:terminal;
workspace.2.name:    2:browser
workspace.2.icon:    2:browser;
workspace.3.name:    3:dev
workspace.3.icon:    3:dev;
workspace.4.name:    4:mail
workspace.4.icon:    4:mail;
workspace.5.name:    5:media
workspace.5.icon:    5:media;
workspace.6.name:    6:music
workspace.6.icon:    6:music;
workspace.7.name:    7:games
workspace.7.icon:    7:games;
workspace.8.name:    
workspace.8.icon:   
workspace.9.name:   
workspace.9.icon:   
workspace.10.name:   
workspace.10.icon:   

! Special
*background:    #142320
*foreground:    #c0b99c
*.cursorColor:  #2d4944

! black
*color0: #21312e
*color8: #1a2f2b

! red
*color1: #824f2c
*color9: #8e5f3f

! Green
*color2: #4a6544
*color10: #597154

! Yellow
*color3: #9b8f5f
*color11: #aca074

! Blue
*color4: #4f4e56
*color12: #61606e

! Magenta
*color5:  #5f4646
*color13: #715353

! Cyan
*color6: #356153
*color14: #4a7e6e

! White
*color7:  #9e928f
*color15: #b7aba7
